<!-- howdy/templates/about.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Generation Gap</title>
    </head>
    <body>
        <h1>Our Purpose</h1>
    <p>
      What is the purpose of Generation Gap?:
  The purpose of our website is to help bridge the gap between the elderly and the youth in our community. We find that it is important to help youths find volunteer opportunities that could help them achieve their goals. We want to encourage the youth to make a connection with the older generations as much as possible.
    </p>

    <p>
      How did our idea come to be?:
    As technology continues to develop, human interaction progressively decreases. This especially happens between the elderly and the youth in our community. Believing that it is important for the youth to learn from their elders as well as for youths to unravel a mentor for themselves, we decided to create this website for the young ones and to bridge the gap between themselves and older generations
    </p>

    </body>
</html>
